.container {
  width: 100%;
  max-width: 1200px; /* Максимальная ширина */
  margin: 0 auto;
  padding: 0 20px; /* Боковые отступы */
}

/* Контент с отступами сверху и снизу */
.content {
  padding: 20px 0;
}

/* Адаптив для мобильных экранов */
@media (max-width: 768px) {
  .container {
    padding: 0px; /* Уменьшаем боковые отступы */
  }

  .content {
    padding: 10px 0; /* Уменьшаем отступ сверху и снизу */
  }
}


button {
  width: 100%; /* Кнопки растягиваются на мобилках */
  max-width: 300px; /* Ограничение ширины */
}
