.adminButton {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #ed4532; /* Зеленый фон */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: auto;
  }
  .adminBox {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
  }
  
  .adminButton:hover {
    background-color: #f10b0b;
  }
  
  .iconAdmin {
    margin-right: 10px; 
    font-size: 24px; 
  }
  
  .buttonText {
    font-weight: bold;
  }